#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form{
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 500px;
}

.form input{
  width: 70%;
  margin: 15px;
  height: 30px;

}

.form button{
  margin: 10px;
  background-color: blue;
}

.error{
  color:red;
  font-weight: bold;
}